@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2? família=Lato:ital,wght@0,100;0.300;0.400;0.700;0.900;1.100;1.300;1.400;1.700;1.900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web';
   font-style: normal;
}


#promoDispnoveis {
    background-color: #353535;
    color: white;
    text-align: center;
    font-family: 'Titillium Web';
    font-weight: 400;
    font-size: 12px;
    height: 24px;
}
.logo {
    width: 147px;
    height: 18px;
}
.header-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 88px;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}
.busca {
    width: 791px;
    display: flex;
}
.buscaInput {
    width: 672px;
    background: #EFEFEF;
    border-radius: 10px 0px 0px 10px;
    height: 40px;
    border: none;
}
.buscaInput::placeholder {
    color: #353535;
    padding-left: 24px;
}
.btnBuscar {
    width: 119px;
    background: #FAA500;
    border-radius: 0px 8px 0px 0px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.listMinhaConta {
    display: flex;
    list-style: none;
    gap: 39px;
    font-weight: 400;
   font-size: 14px;
}
.minhaConta{
    gap: 8px;
    display: flex;
    align-items: center;
}
#meuCarrinho{
    border: 1px solid #FAA500;
    border-radius: 8px;
    padding: 10px;
}
.menu {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.list-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 15px;

}
.listMenu {
    width: 146px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    display: flex;
}
#novidades {
    font-weight: 700;
    font-size: 14px;
    color: #FAA500;
}
#textNovidades{
    margin-left: 10px;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: url(../img/Banner.png) ;
}
.seta {
    width: 20px;
    height: 32px;
}
.textBanner {
    position: relative;
    right: 280px;
  
}
.promoOutono{
    font-weight: 700;
font-size: 40px;
font-family: 'Montserrat';
color: white;
margin-bottom: 40px;

}
.confiraOutono {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 20px;
color: white;
width: 467px;
margin-bottom: 32px;

}
.btnConf{
    background: #FAA500;
border-radius: 10px;
color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
border: none;
width: 128px;
height: 48px;
cursor: pointer;
}
#porqueComprar{
    font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
height: 24px;
color: #353535;
padding: 21px;
}
#pqComprar{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.motivos {
    display: flex;
    gap: 22px;
    align-items: center;
    padding: 11px 27px;
    background: #EFEFEF;
    border-radius: 4px;
    width: 260px;
}
.textMotivos1 {
    font-weight: 700;
    font-size: 14px;
}

.textMotivos2 {
    font-weight: 400;
    font-size: 12px;
}
.MarcasParceiras{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.parceiros {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: #353535;
    margin-top: 80px;
    margin-bottom: 17px;

}
.imgParceiros{
    display: flex;
    justify-content: center;
    /* gap: 15px; */
}

.MaisPedidas{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #353535;
    margin-top: 80px;
    margin-bottom: 20px;
}
.roupa{
    display: flex;
    justify-content: center;
    gap:16px;
}
.container-color{
    display: flex;
    gap: 8px;
    list-style: none;
    margin-top: 8px;
}
.color1{
    border: 1px solid #353535;
border-radius: 4px;
background: #DEAC71;
width: 27px;
height: 27px;
}
.color2 {
    border: 1px solid #353535;
background: #D37164;
border-radius: 4px;
width: 27px;
height: 27px;
}
.color3 {
    background: #6497D3;
border-radius: 4px;
border: 1px solid #353535;
width: 27px;
height: 27px;
}
.color4{
    background: #3C3B79;
border-radius: 4px;
border: 1px solid #353535;
width: 27px;
height: 27px;
}
.color5 {
    border-radius: 4px;
    border: 1px solid #353535;
    width: 27px;
    height: 27px;
    background: #1C1A19;
}

.color6 {
    border-radius: 4px;
    border: 1px solid #353535;
    width: 27px;
    height: 27px;
    background: #D84E4B;
}

.color7 {
    border-radius: 4px;
    border: 1px solid #353535;
    width: 27px;
    height: 27px;
    background: #CFC9B0;
}
.color8 {
    border-radius: 4px;
    border: 1px solid #353535;
    width: 27px;
    height: 27px;
    background: #EAE9E5;
}
.valor {
    font-weight: 700;
    font-size: 20px;
    color: #353535;
    margin-bottom: 8px;
}
.marca {
    font-weight: 400;
    font-size: 16px; 
    color: #000000;
    margin-bottom: 8px;
}
.descrição {
    font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #000000;
opacity: 0.5;
width: 254px;
margin-bottom: 8px;
}

.setasProduto {
    display: flex;
    align-items: center;
}
.textValor {
    gap: 100px;
}
.adcionar {
    background: #FAA500;
    border-radius: 4px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    width: 254px;
    height: 35px;
}
.containerRoupa{display: flex;
    flex-direction: column;
    justify-content: space-between;}

.novaColeção {
    display: flex;
    justify-content: space-around;
    margin: 100px;
}
.imgColeção{
    width: 1114px;
}
.textLorem {font-weight: 700;
    font-size: 24px;
    color: #000000;

    }
.textLorem2 {
    font-weight: 400;
    font-size: 14px;
    width: 420px;
}
.containerTextColeção {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.containerNewsletter {
    height: 120px;
    width: 100%;
    background: #FAFAFA;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.textNewsletter {
    font-weight: 700;
    font-size: 24px;
    color: black;
}
.inputNewsletter {
    background-color: white;
    border: 1px solid #353535;
    border-radius: 4px;
    width: 630px;
    height: 40px;
}
.inputNewsletter::placeholder{
    font-weight: 400;
    font-size: 14px;
    color: #353535;
    padding: 24px;
}

.botaoNewsletter {
    background: #FAA500;
    border: none;
    border-radius: 4px;
    width: 131px;
    height: 40px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #FAA500;
}
footer {
    display: flex;
    justify-content: center;
    gap: 350px;
    width: 100%;
    max-height: 376px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.footerNegrito {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 16px;
    color: #353535;
}
.textoFooter {
    font-weight: 400;
       font-size: 12px;
       margin-bottom: 25px;
}
.containerSocial{
    background-color: #353535;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    height: 85px;
    align-content: center;
    align-items: center;
}
.media {
    margin-left: 21px;
}
.pagamento{
    margin-left: 21px;
}
.powered {
    display: flex;
    gap: 20px;
}
.poweredBy {
    font-style: 'open sans';
    font-weight: 400;
    font-size: 10px;
    color: white;
    margin-bottom: 4px;
}


.BemVindo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap:15px;
    
   }
.inputEmail{
    width: 322px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #787D83;
   }
   .inputEmail::placeholder {
      padding-left: 13px;
   }
.bVindoEmail {
    font-weight: 400;
font-size: 12px;
line-height: 20px;
text-align: center;
color: #464B54;
margin-bottom: 15px;
 }
.textEmail {
    font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #787D83;
 }
#textDescEmail {
    font-weight: 700;
    color: #787D83;
    margin-bottom: 25px;
}
.inputEmail{border: 1px solid #C4C4C4;
    border-radius: 10px;
    height: 40px;
    width: 322px;
}
#moda {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.705);

}

.botaoFechar{
    text-align: end;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
    background: none;
    border: none;
    font-family: 'lato';
    margin-left: 800px;

}

#containerModal {
    display: flex;
    width: 848px;
    height: 529.65px;
    background-color: white;
}
#botaoModal {
    background: #FAA500;
    border-radius: 10px;
    height: 40px;
    width: 322px;
    border: none;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.aviao {margin-left: 8px}


@media screen and (max-width:600px) {
    #promoDispnoveis {
        width: 100%;
        background: #353535;
        font-weight: 400;
        font-size: 10px;
    }
    .banner {
        background-image: url(../img/bannerMobile.png);
        height: 320px;
        width: 100%;
        background-repeat: no-repeat ;
        background-size: cover;
    }
    .promoOutono {
        font-weight: 700;
        font-size: 30px;
        width: 223px;
    }
    .confiraOutono{
        font-weight: 400;
        font-size: 14px;
        width: 239px;
    }
    .btnConf {
        font-weight: 700;
        font-size: 14px;
        width: 76px;
        height: 28px;
    }
    .textBanner{
        position: relative;
        right: 0px;
    }
    #porqueComprar {
        font-weight: 700;
        font-size: 16px;
    }
    .textMotivos1 {
        font-weight: 700;
        font-size: 14px;
    }
    .textMotivos2 {
        font-weight: 400;
        font-size: 12px;
    }
    .motivos{
        width: 298px;
        height: 64px;
    }
    .MarcasParceiras{
        font-weight: 700;
        font-size: 24px;
    }
    .MaisPedidas {
        font-weight: 700;
        font-size: 24px;
    }
    .slider {
        overflow-x: scroll;
        max-width: 100%;
        display: flex;
        justify-content: start;
       
    }
    .slider::-webkit-scrollbar{
        display: none;
    }
    .busca {
        background-image: url(../img/sacola.png);
        background-repeat: no-repeat;
       
    }
    .buscaInput{
        display: none;
    }
    .btnBuscar{display: none;}
    .text-buscar {
        display: none;
    }
    .minhaConta{
        display: none;
    }
    
    #meuCarrinho {
        display: block;
        border: none;
    

    }
    .header-list{
    }
    #sacola {
        display: block;
    }
    #textCarrinho {
        display: none;
    }



    .imgParceiros{
        overflow-x: scroll;
        max-width: 100%;
        display: flex;
        justify-content: start;
        padding-left:30px;

    }
    .imgParceiros::-webkit-scrollbar {
        display: none;
    }
    .roupa {overflow-x: scroll;
        max-width: 100%;
        display: flex;
        justify-content: start;
       padding-left: 30px;
    }
    .roupa::-webkit-scrollbar{
        display: none;
    }
        .setasProduto{
            display: none;
        }
        .novaColeção {
            flex-direction: column;
    margin: 5px;
    display: flex;
    align-items: center;
    margin-top: 30px;

        }
        .imgColeção{
            width: 300px;
            height: 185px;
            margin-bottom: 39px;
        }
        .textLorem1 {
            font-weight: 700;
            font-size: 24px;
        }
        .textLorem2{
             width: 269px;
             margin-bottom: 24px;
        }
        .containerNewsletter {
            display: flex;
            flex-direction: column;
        }
        .textNewsletter{
            margin-top: 2px;
        }
        .inputNewsletter{
            width: 204px;
            height: 26px;
            border: 0.5px solid #353535;
            border-radius: 4px;
        }
        .botaoNewsletter {
            width: 79px;
            height: 26px; 
            font-weight: 700;
            font-size: 14px;
        }
        .textoFooter{ display: none;}
        
        footer{
           max-height: 400px;
           display: flex;
            flex-direction: column;
            align-content: flex-start;
            gap: 17px;
        }
        .footerNegrito {
            margin-left: 31px;
            font-weight: 700;
            font-size: 16px;
            color: #353535;
        }
        .containerNewsletter {height: 120px;
        gap: 10px;}
        .containerSocial {
            display: flex;
            flex-direction: column;
            height: 233px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .menu {
            display: none;
        }
       .buscaInput {
        display: none;
        /* background-image: url(../img/search.png);  here*/
       }
}

@media screen and (min-width:600px) and (max-width:1500px) {
    #promoDispnoveis {
        width: 100%;
        background: #353535;
        font-weight: 400;
        font-size: 10px;
    }
    .banner {
        background-image: url(../img/banner.png);
        height: 320px;
        width: 100%;
        background-repeat: no-repeat ;
        background-size: cover;
    }
    .promoOutono {
        font-weight: 700;
        font-size: 30px;
        width: 223px;
    }
    .confiraOutono{
        font-weight: 400;
        font-size: 14px;
        width: 239px;
    }
    .btnConf {
        font-weight: 700;
        font-size: 14px;
        width: 76px;
        height: 28px;
    }
    .textBanner{
        position: relative;
        right: 0px;
    }
    #porqueComprar {
        font-weight: 700;
        font-size: 16px;
    }
    .textMotivos1 {
        font-weight: 700;
        font-size: 14px;
    }
    .textMotivos2 {
        font-weight: 400;
        font-size: 12px;
    }
    .motivos{
        width: 298px;
        height: 64px;
    }
    .MarcasParceiras{
        font-weight: 700;
        font-size: 24px;
    }
    .MaisPedidas {
        font-weight: 700;
        font-size: 24px;
    }
    .slider {
        overflow-x: scroll;
        max-width: 100%;
        display: flex;
        justify-content: start;
       
    }
    .slider::-webkit-scrollbar{
        display: none;
    }
    .buscaInput{
        display: none;
    }
    .btnBuscar{
        background-image: url(../img/sacola.png)
    }
    .text-buscar {
        display: none;
    }
    .minhaConta{
        display: none;
    }
    
    #meuCarrinho {
        display: block;
        border: none;
    

    }
    .header-list{
    }
    #sacola {
        display: block;
    }
    #textCarrinho {
        display: none;
    }



    .imgParceiros{
        overflow-x: scroll;
        max-width: 100%;
        display: flex;
        justify-content: start;
        padding-left:30px;

    }
    .imgParceiros::-webkit-scrollbar {
        display: none;
    }
    .roupa {overflow-x: scroll;
        max-width: 100%;
        display: flex;
        justify-content: start;
       padding-left: 30px;
    }
    .roupa::-webkit-scrollbar{
        display: none;
    }
        .setasProduto{
            display: none;
        }
        .novaColeção {
            flex-direction: column;
    margin: 5px;
    display: flex;
    align-items: center;
    margin-top: 30px;

        }
        .imgColeção{
            width: 300px;
            height: 185px;
            margin-bottom: 39px;
        }
        .textLorem1 {
            font-weight: 700;
            font-size: 24px;
        }
        .textLorem2{
             width: 269px;
             margin-bottom: 24px;
        }
        .containerNewsletter {
            display: flex;
            flex-direction: column;
        }
        .textNewsletter{
            margin-top: 2px;
        }
        .inputNewsletter{
            width: 204px;
            height: 26px;
            border: 0.5px solid #353535;
            border-radius: 4px;
        }
        .botaoNewsletter {
            width: 79px;
            height: 26px; 
            font-weight: 700;
            font-size: 14px;
        }
        .textoFooter{ display: none;}
        
        footer{
           max-height: 400px;
           display: flex;
            flex-direction: column;
            align-content: flex-start;
            gap: 17px;
        }
        .footerNegrito {
            margin-left: 31px;
            font-weight: 700;
            font-size: 16px;
            color: #353535;
        }
        .containerNewsletter {height: 120px;
        gap: 10px;}
        .containerSocial {
            display: flex;
            flex-direction: column;
            height: 233px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .menu {
            display: none;
        }

        /* .imagem{
      display: none;
        } */
        
}
@media screen and (min-width:460px) and (max-width:800px){
    .botaoFechar{
        display: flex;
        margin-left: 700px;
        font-size: 14px;
    }
}

@media screen and (min-width:360px) and (max-width:827px){
    .imagem{
        display: none;}
    .botaoFechar{
        display: flex;
        margin-left: 380px;
        font-size: 11px;
    }


}